[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
gunicorn = "*"
python-decouple = "==3.3"
python-dotenv = "*"
dj-database-url = "*"
unipath = "*"
django-social-share = "*"
pillow = "*"
django-crispy-forms = "*"
config = "*"

[requires]
python_version = "3.8"
