{% extends 'base.html' %}
{% load static %}
{% block title %} MenoCare|Blog {% endblock %}

{% block content %}

  <!-- ***** Breadcrumb Area Start ***** -->
  
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Blog</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Blog</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- *****Blog Area Start ***** -->
  <section class="dento-blog-area">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8">

          <!-- Single Blog Item -->
          {% for post in posts %}
            <div class="single-blog-item style-2 d-flex flex-wrap align-items-center mb-50">
              <!-- Blog Thumbnail -->
              <div class="blog-thumbnail">
                <a href="{% url 'blog_details' post.slug %}">
                  <img src="{% static 'img/bg-img/16.jpg' %}" alt="">
                </a>
              </div>
              <!-- Blog Content -->
              <div class="blog-content">

                 <a href="{% url 'blog_details' post.slug %}" class="post-title">{{ post.title }}</a>

                <p>{{ post.content|safe|truncatewords_html:20 }}.... <a href="{% url 'blog_details' post.slug %}" class="btn btn-primary mt-0 ml-0 mb-1 p-0">Read More &darr;</a></p>
                

                <div class="post-meta">
                  <i class="icon_clock_alt"></i>{{ post.created_on|date:"d M Y" }} 
                  <a href="{% url 'blog_details' post.slug %}"><i class="icon_chat_alt ml-2"></i> {{ post.comments.count }} Comments</a>
                </div>
              </div>
            </div>
          {% endfor %}

          <!-- Pagination -->
          
          <!--nav class="menocare-pagination mb-100">
            <ul class="pagination">
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
            </ul>
          </nav-->

          {% if is_paginated %}
            <nav class="menocare-pagination mb-100">
              <ul class="pagination justify-content-left">
                  {% if page_obj.has_previous %}
                  <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                  {% endif %}
                  {% if page_obj.has_next %}
                  <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

                  {% endif %}
              </ul>
            </nav>
          {% endif %}
          
        </div>

        

        <!-- Dento Sidebar Area -->
        <div class="col-12 col-lg-4">
          <div class="dento-sidebar">
            <!-- Single Widget Area -->
            <div class="single-widget-area search-widget">
              <form action="#" method="get">
                {% csrf_token %}
                <input type="search" name="search" class="form-control" placeholder="Search ...">
                <button type="submit"><i class="icon_search"></i></button>
              </form>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>
  <!-- *****Blog Area End ***** -->
{% endblock content %}
  