{% extends 'base.html' %}
{% load static %}
{% block title %} MenoCare|Services {% endblock %}
{% block meta_description %} Find our pocket friendly services {% endblock %}

{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url('{% static 'img/bg-img/12.jpg' %}');">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Service</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Service</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ***** Services Area Start ***** -->
  <section class="dento-services-area mt-50 mb-50">
    <div class="container">
      <div class="row">

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'img/core-img/s6.png' %}" alt="">
            </div>
            <h5>Teeth Whitening</h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'img/core-img/s7.png' %}" alt="">
            </div>
            <h5>Dental Implants</h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'img/core-img/s8.png' %}" alt="">
            </div>
            <h5>Missing Teeth</h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'img/core-img/s9.png' %}" alt="">
            </div>
            <h5>Cosmetic Dentistry</h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'img/core-img/s10.png' %}" alt="">
            </div>
            <h5>Examination</h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'img/core-img/s6.png' %}" alt="">
            </div>
            <h5>Teeth Pain</h5>
            <p>In pretium neque a libero congue. Elit diam lectus. Prasent lacinia vitae sit
              mattis mollis maximus.</p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ***** Services Area End ***** -->

  <!-- ***** Testimonials Area Start ***** -->
  <section class="testimonials-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url('{% static 'img/bg-img/7.jpg' %}');">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Testimonials Slides -->
          <div class="testimonials-slides owl-carousel">
            <!-- Single Testimonials Slide -->

            {% for test in tests %}
              <!-- Single Testimonials Slide -->
              <div class="single-testimonial-slide d-flex align-items-center">
                <!-- Thumbnail -->
                <div class="testimonial-thumb">
                  <img src="{% static 'img/bg-img/8.jpg' %}" alt="">
                </div>
                <!-- Content -->
                <div class="testimonial-content">
                  <h5>“{{test.content}}”</h5>
                  <h6>{{test.patient_name}} || <a href="#"></a>Twitter</h6>
                  <p>{{test.who}}</p>
                </div>
              </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Blog Area Start ***** -->
  <section class="dento-blog-area section-padding-100-0 clearfix">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>The Latest News</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="testimonials-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url('% static 'img/bg-img/7.jpg' %}');">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Testimonials Slides -->
          <div class="testimonials-slides owl-carousel">
            <!-- Single Testimonials Slide -->

            {% for post in posts %}
              <div class="col-12">
                <div class="single-blog-item mb-100">
                  <a href="{% url 'blog_details' post.slug %}">
                    <img src="{% static 'img/bg-img/4.jpg' %}" alt="">
                  </a>
                  <!-- Blog Content -->
                  <div class="blog-content">
                    <a href="{% url 'blog_details' post.slug %}" class="post-title">{{ post.title }}</a>

                    <p>{{ post.content|safe|truncatewords_html:20 }}....<a href="{% url 'blog_details' post.slug %}" class="btn btn-primary mt-0 ml-0 mb-1 p-0">Read More &darr;</a></p>

                    <div class="post-meta">
                      <i class="icon_clock_alt"></i> {{ post.created_on|date:"d M Y" }}
                      <a href="#"><i class="icon_chat_alt ml-3"></i> {{ post.comments.count }} Comments</a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="dento-blog-area section-padding-100-0 clearfix">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Blog Area End ***** -->
{% endblock content %}